// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Jura', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    // font-weight: 500;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.1rem $wp-orange !important;
        border-radius: 5px;
    }

    @media screen and (max-width: 576px) {
        &:focus {
            outline: 0;
            box-shadow: none !important;
            // border-radius: 15px;
        }

    }

    /* width */
    &::-webkit-scrollbar {
        width: 8px;
        height: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        // border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $wp-green;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $wp-orange;
        height: 10px;
        width: 10px;
    }

    &::selection {
        background: rgba(242, 140, 23, 0.5);
        /* WebKit/Blink Browsers */
    }

    &::-moz-selection {
        background: rgba(242, 140, 23, 0.5);
        /* Gecko Browsers */
    }
}

h1 {
    color: $wp-orange;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    padding-bottom: 20px;
}

h1 span {
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
}

.bg-green {
    background-color: $wp-green;
}

.bg-green-light {
    background-color: $wp-green-light;
    border-radius: 15px;
}

.bg-green {
    background-color: $wp-green;
}

.bg-orange {
    background-color: $wp-orange;
}

.green {
    color: $wp-green;
}

.green-light {
    color: $wp-green-light;
}

.orange {
    color: $wp-orange;
}

// Navbar
.icon-link {
    font-size: 1.5em;
    color: #93B96A;

}

.hover-orange {
    position: relative;
    display: inline-block;
    // font-weight: 800;
    color: $wp-green;
    overflow: hidden;
    background: linear-gradient(to right, rgb(242, 138, 23), rgb(255, 94, 0) 50%, $wp-green 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}


.hover-orange:hover {
    text-decoration: none;
    background-position: 0 100%;

}

.dropdown-item:active {
    background-image: none;
    background-color: $wp-orange !important;
}

.dropdown-item:hover {
    background-image: none;
    background-color: $wp-green !important;
    color: white;
}

.logo-text {
    color: $wp-orange !important;
    font-family: 'Overpass', sans-serif;
}


.hover-btn {
    background-color: $wp-green;
    color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

    &:hover {
        background-color: $wp-orange;
        color: white;
    }
}

.bell {

    &:hover {
        animation: ring 0.5s;
        animation-iteration-count: infinite;
        color: $wp-green;

        @keyframes ring {
            0% {
                transform: rotate(0);
            }

            1% {
                transform: rotate(30deg);
            }

            3% {
                transform: rotate(-28deg);
            }

            5% {
                transform: rotate(34deg);
            }

            7% {
                transform: rotate(-32deg);
            }

            9% {
                transform: rotate(30deg);
            }

            11% {
                transform: rotate(-28deg);
            }

            13% {
                transform: rotate(26deg);
            }

            15% {
                transform: rotate(-24deg);
            }

            17% {
                transform: rotate(22deg);
            }

            19% {
                transform: rotate(-20deg);
            }

            21% {
                transform: rotate(18deg);
            }

            23% {
                transform: rotate(-16deg);
            }

            25% {
                transform: rotate(14deg);
            }

            27% {
                transform: rotate(-12deg);
            }

            29% {
                transform: rotate(10deg);
            }

            31% {
                transform: rotate(-8deg);
            }

            33% {
                transform: rotate(6deg);
            }

            35% {
                transform: rotate(-4deg);
            }

            37% {
                transform: rotate(2deg);
            }

            39% {
                transform: rotate(-1deg);
            }

            41% {
                transform: rotate(1deg);
            }

            43% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(0);
            }
        }
    }

}

.has-search {}

.has-search .form-control {
    padding-left: 2.375rem;

    &:focus {
        border-color: $wp-green;
    }
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


// footer section 
.footer-icon-container {
    position: fixed;
    right: 3vw;
    bottom: 10vh;
    z-index: 1000;

    .footer-btn {
        z-index: 9000;
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        color: $wp-green;
        transition: color 0.3s ease;

        &:hover {
            color: $wp-orange;
        }
    }
}

@media screen and (max-width:576px) {
    .footer-icon-container {
        bottom: 3vh;

    }
}

.a {
    color: $wp-green;

    &:hover {
        color: $wp-orange !important;
    }
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.wireframe-logo {
    position: fixed;
    z-index: -1000;
    height: 100vh;

    img {
        height: 100%;
        margin-left: 100%;

    }
}




















@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    margin-top: -120px;
    overflow: hidden;
    z-index: -1000;
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    clip-path: polygon(50% 0%, 0 74%, 99% 78%);
    background: $wp-orange;
}

.background span:nth-child(0) {
    color: $wp-orange;
    top: 25%;
    left: 55%;
    animation-duration: 46s;
    animation-delay: -46s;
    transform-origin: -17vw 25vh;
    box-shadow: 40vmin 0 5.993274886410778vmin currentColor;
    background: #d68f3e;
}

.background span:nth-child(1) {
    color: $wp-orange;
    top: 49%;
    left: 52%;
    animation-duration: 19s;
    animation-delay: -42s;
    transform-origin: -22vw 16vh;
    box-shadow: 40vmin 0 5.710679219128817vmin currentColor;
    background: #ffce97;
}

.background span:nth-child(2) {
    color: $wp-orange;
    top: 65%;
    left: 26%;
    animation-duration: 28s;
    animation-delay: -9s;
    transform-origin: -17vw -20vh;
    box-shadow: -40vmin 0 5.1976966028477225vmin currentColor;
    background: #ffe1be;

}

.background span:nth-child(3) {
    color: $wp-orange;
    top: 87%;
    left: 21%;
    animation-duration: 54s;
    animation-delay: -49s;
    transform-origin: -24vw -18vh;
    box-shadow: -40vmin 0 5.502151968612vmin currentColor;
    background: #ffa53e;
}

.background span:nth-child(4) {
    color: $wp-orange;
    top: 94%;
    left: 18%;
    animation-duration: 44s;
    animation-delay: -14s;
    transform-origin: 24vw -19vh;
    box-shadow: -40vmin 0 5.065979403732207vmin currentColor;
    background: #ffdcb4;
}

.background span:nth-child(5) {
    color: $wp-orange;
    top: 37%;
    left: 86%;
    animation-duration: 26s;
    animation-delay: -3s;
    transform-origin: -21vw 23vh;
    box-shadow: -40vmin 0 5.169670011475689vmin currentColor;
    background: #fff2e4;

}

.background span:nth-child(6) {
    color: $wp-orange;
    top: 83%;
    left: 31%;
    animation-duration: 33s;
    animation-delay: -3s;
    transform-origin: 2vw -12vh;
    box-shadow: 40vmin 0 5.697294106000921vmin currentColor;
    background: #ff8800;
}

.background span:nth-child(7) {
    color: $wp-orange;
    top: 53%;
    left: 86%;
    animation-duration: 13s;
    animation-delay: -32s;
    transform-origin: -6vw 5vh;
    box-shadow: 40vmin 0 5.016843953317597vmin currentColor;
    background: #ffb25b;

}

.background span:nth-child(8) {
    color: $wp-orange;
    top: 7%;
    left: 93%;
    animation-duration: 49s;
    animation-delay: -22s;
    transform-origin: -8vw -19vh;
    box-shadow: -40vmin 0 5.973806141896224vmin currentColor;
    background: #ffe0bd;

}

.background span:nth-child(9) {
    color: $wp-orange;
    top: 55%;
    left: 13%;
    animation-duration: 31s;
    animation-delay: -39s;
    transform-origin: -2vw -11vh;
    box-shadow: 40vmin 0 5.18326328639096vmin currentColor;
    background: #fccd98;

}

.background span:nth-child(10) {
    color: $wp-orange;
    top: 69%;
    left: 67%;
    animation-duration: 14s;
    animation-delay: -17s;
    transform-origin: -24vw 5vh;
    box-shadow: -40vmin 0 5.743441256127723vmin currentColor;
    background: #fff7ee;

}

.background span:nth-child(11) {
    color: $wp-orange;
    top: 54%;
    left: 38%;
    animation-duration: 33s;
    animation-delay: -16s;
    transform-origin: 7vw -16vh;
    box-shadow: -40vmin 0 5.578292468443953vmin currentColor;
}

.background span:nth-child(12) {
    color: $wp-orange;
    top: 2%;
    left: 11%;
    animation-duration: 46s;
    animation-delay: -35s;
    transform-origin: -8vw 20vh;
    box-shadow: -40vmin 0 5.143065277371762vmin currentColor;
}

.background span:nth-child(13) {
    color: $wp-orange;
    top: 60%;
    left: 74%;
    animation-duration: 46s;
    animation-delay: -48s;
    transform-origin: -21vw -14vh;
    box-shadow: -40vmin 0 5.070818402658361vmin currentColor;
}

.background span:nth-child(14) {
    color: $wp-orange;
    top: 70%;
    left: 85%;
    animation-duration: 22s;
    animation-delay: -25s;
    transform-origin: 15vw 11vh;
    box-shadow: -40vmin 0 5.486172769146341vmin currentColor;
}

.background span:nth-child(15) {
    color: $wp-orange;
    top: 11%;
    left: 71%;
    animation-duration: 36s;
    animation-delay: -45s;
    transform-origin: -21vw 7vh;
    box-shadow: 40vmin 0 5.9095108104778085vmin currentColor;
}

.background span:nth-child(16) {
    color: $wp-orange;
    top: 53%;
    left: 15%;
    animation-duration: 34s;
    animation-delay: -13s;
    transform-origin: 4vw -17vh;
    box-shadow: -40vmin 0 5.935549430554484vmin currentColor;
}

.background span:nth-child(17) {
    color: $wp-orange;
    top: 35%;
    left: 33%;
    animation-duration: 18s;
    animation-delay: -49s;
    transform-origin: 19vw 16vh;
    box-shadow: 40vmin 0 5.656469895720813vmin currentColor;
}

.background span:nth-child(18) {
    color: $wp-orange;
    top: 61%;
    left: 58%;
    animation-duration: 16s;
    animation-delay: -36s;
    transform-origin: 20vw 3vh;
    box-shadow: -40vmin 0 5.542808922413325vmin currentColor;
}

.background span:nth-child(19) {
    color: $wp-orange;
    top: 21%;
    left: 82%;
    animation-duration: 52s;
    animation-delay: -20s;
    transform-origin: -12vw 11vh;
    box-shadow: 40vmin 0 5.9420960083040155vmin currentColor;
}



















/* Die vierte teller */
.plate4 .x {
    transition: transform 400ms;
}

.plate4 .line {
    transform-origin: 50%;
    transition: transform 400ms 100ms;
}

.active.plate4 .line {
    transition: transform 400ms;
}

.active.plate4 .line1 {
    transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
}

.active.plate4 .line2 {
    transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
}

.active.plate4 .line3 {
    transform: translateY(0px) rotate(45deg) scale(.7);
}

.active.plate4 .line4 {
    transform: translateY(0px) rotate(-45deg) scale(.7);
}

.active.plate4 .line5 {
    transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
}

.active.plate4 .line6 {
    transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
}

.active.plate4 .x {
    transition: transform 400ms 100ms;
    transform: scale(1);
}






.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $orange;
    stroke-width: 8;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.navbar-toggler {
    padding: 0;
    margin: 0;
    border: none;
}

.welcome {

    .scroll-down {
        opacity: 1;
        -webkit-transition: all .5s ease-in 3s;
        transition: all .5s ease-in 3s;
    }

    .scroll-down {
        width: 50px;
        height: 50px;
        border: 3px solid $orange;
        background-size: 14px auto;
        border-radius: 50%;
        z-index: 2;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        transform: scale(1)
    }

    .scroll-down:before {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 3px solid $orange;
        border-width: 0px 0 3px 3px;
    }

    @keyframes bounce {

        0%,
        100%,
        20%,
        50%,
        80% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        60% {
            -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
}

.publication-card {
    position: relative;
    width: 100%;
    height: 350px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 100px 0 50px rgba(71, 52, 52, 0.3);
    border-radius: 15px;

}

.publication-card:hover {
    border-radius: 0px;
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);

    .img-container img {
        border-radius: 0px;

    }
}

.publication-card .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.publication-card .img-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 1s;
}

.publication-card:hover .img-container {
    transform: rotateY(-135deg);
}

.publication-card .card-details {
    position: absolute;
    left: 0;
    top: 0;
    height: 350px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    color: #000;

}

.publication-card .card-details h2 {
    margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #ed363a;
}

.publication-card .card-details .p-container {
    height: 60%;
    overflow: hidden;
}

.publication-card .card-details p {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word !important;
}

.a:hover i {
    color: $wp-orange !important;
}

// Rotating wirframe logo
.box {
    position: relative;
    width: 300px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 30s linear;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 576px) {
    .box {
        width: 150px;
        height: 75px;

        span {
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(160px) !important;
        }
    }

}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(240px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5));
}

.box>span>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

// Contact
#contact {}

// Chapter
#chapters {
    .publication-book-details {
        img {
            border-radius: 15px;
        }
    }

}

// Create publication

#publication-create {
    .custom-file-input:hover {
        cursor: pointer;
    }
}

// Pages display {
#chapter-show {
    .swiper-wrapper {
        height: 100vh;
        text-align: center;

        .swiper-slide img {
            height: 100%;
        }

        @media screen and (max-width:576px) {

            .swiper-slide {
                display: grid;
                place-content: center;

                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .publication-thumbnail {
        border-radius: 15px;
        width: 100px;
    }
}



.swiper-button-prev,
.swiper-button-next {
    color: $wp-green !important;

}

@media screen and (max-width:576px) {

    .swiper-button-prev,
    .swiper-button-next {
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
        }
    }
}

.swiper-button-disabled {
    color: $wp-green-light
}







.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.btn-slide-left,
.btn-slide-right {
    width: 50px;
    height: 50px;
    background-size: 14px auto;
    z-index: 2;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.btn-slide-left:before {

    transform: rotate(-135deg);
    left: calc(50% - 6px);
}

.btn-slide-right:before {

    transform: rotate(45deg);
    right: calc(50% - 6px);
}

.btn-slide-left:before,
.btn-slide-right:before {
    position: absolute;
    top: calc(50% - 8px);
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    border: 3px solid $orange;
    border-width: 0px 0 3px 3px;
}



.swiper-pagination {

    display: flex;
    width: 80%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
}

.swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    opacity: 1;
    background: $wp-green;
    border-radius: 15px;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: $wp-orange;
}

.swiper-scrollbar-drag {
    background: $wp-green;
}

.chapter-dropdown-menu {

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.445);
        box-shadow: none;
        border-radius: 10px;
    }

    overflow-y:auto;
    max-height:25vh;
    max-width:100%;
    border-radius:15px;
}



.active-nav {
    background-color: $wp-green-light;
    border-radius: 18px;
    padding: 2px 6px;

}


#img-preview,
#img-preview-edit {
    display: none;
    width: 100%;
    overflow: hidden;
}

#img-preview img,
#img-preview-edit img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;

}



.search {
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius: 500px;
    margin: 0 auto 0;
    padding: 5px;
    background-color: $wp-green;
    position: relative;
    // overflow: hidden;
    transition: all .5s ease;

    // &:before {
    //     content: '';
    //     display: block;
    //     width: 3px;
    //     height: 50%;
    //     top: -10px;
    //     position: relative;
    //     background-color: #fff;
    //     transition: $transition;
    // }
    transform: scale(0.9);

    &.open {
        width: 300px;

        &:before {
            height: 60px;
            margin: 20px 0 20px 30px;
            position: absolute;
        }
    }

    @media screen and (max-width:576px) {
        &.open {
            width: 100%;
        }
    }
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 20px 50px 20px 20px;

    &:focus {
        box-shadow: none !important;
        outline: none;
        border: none;
    }
}

.search-button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

.search-icon {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 3px solid #fff;
    display: block;
    position: relative;
    left: 38px;
    bottom: 12px;
    margin-left: 5px;
    transition: all .5s ease;

    &:before {
        content: '';
        width: 3px;
        height: 15px;
        position: absolute;
        right: -5px;
        top: 10px;
        display: block;
        background-color: #fff;
        transform: rotate(-45deg);
        transition: all .5s ease;
    }

    &:after {
        content: '';
        width: 3px;
        height: 15px;
        position: absolute;
        right: -5px;
        top: 10px;
        display: block;
        background-color: #fff;
        transform: rotate(-45deg);
        transition: all .5s ease;
    }

    .open & {
        margin: 0;
        width: 35px;
        height: 35px;
        bottom: 15px;
        left: 40px;
        border-radius: 60px;

        &:before {
            transform: rotate(52deg);
            right: 12px;
            top: 11px;
            height: 12px;
        }

        &:after {
            transform: rotate(-230deg);
            right: 12px;
            top: 5px;
            height: 12px;
        }
    }
}

.switch-container {
    border-radius: 15px !important;

    .switch {
        appearance: none;
        height: 2em;
        width: 4em;
        background-color: darkgray;
        cursor: pointer;
        border-radius: 1em;
        position: relative;
        transition: background-color 0.3s ease;
    }

    .switch::before {
        content: "";
        height: 100%;
        width: 50%;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        border: darkgray solid 0.2em;
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .switch:checked {
        background-color: $wp-green;
    }

    .switch:checked::before {
        border-color: $wp-green;
        transform: translateX(100%);
    }

    @media screen and (max-width: 500px) {
        .switch {
            outline: none;
        }
    }
}


.ninja-box,
.hero-box {
    height: 550px;
    overflow: hidden;

    img {
        animation: ninja;
        animation-iteration-count: 1;
        transition: all 1s ease-in-out;
        animation-duration: 1s;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 15px 15px rgba(0, 0, 0, 0.3));


    }
}

@keyframes ninja {

    0% {
        transform: scale(.9, 1.1) translateY(600px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }

}

// -----------------------------------------------------------

.snowflake {}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 2s, 1s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}