<template>
  <div>
    <div class="dropdown search">
      <input
        type="search"
        v-model="q"
        class="dropdown-toggle search-box"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      />
      <span class="search-button">
        <span class="search-icon"></span>
      </span>
      <!-- v-if="this.q && getFilteredPublications.length > 0" -->
      <div
        class="dropdown-menu w-100 shadow border-0"
        aria-labelledby="dropdownMenuButton"
      >
        <div
          v-for="publication in getFilteredPublications"
          v-bind:key="publication.id"
        >
          <a
            class="dropdown-item"
            v-bind:href="'/publication/' + publication.id"
            >{{ publication.title }}</a
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      publications: [],
      q: "",
    };
  },
  methods: {
    fetchPublications() {
      axios
        .get("/search")
        .then((response) => (this.publications = response.data))
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    this.fetchPublications();
  },

  computed: {
    getFilteredPublications() {
      return this.publications.filter((publication) => {
        return (
          publication.title.toLowerCase().includes(this.q.toLowerCase()) +
          publication.description.toLowerCase().includes(this.q.toLowerCase())
        );
      });
    },
  },
};
</script>

<style scoped>
.dropdown-menu {
  border-radius: 15px;
}
</style>